// -----------------------------------------------------------------------------
// Colors
// -----------------------------------------------------------------------------

$color-white: #ffffff;
$color-purple: #4527a0;
$color-purple-darker: #341d7b;
$color-purple-light: #f2effb;
$color-purple-lighter: #f9f8fd;
$color-body: #483877;

// -----------------------------------------------------------------------------
// Decoration
// -----------------------------------------------------------------------------

$rounded-radius: 5px;

// -----------------------------------------------------------------------------
// Spacers
// -----------------------------------------------------------------------------

$spacer-xs: 7px;
$spacer-s: 10px;
$spacer-m: 24px;
$spacer-l: 34px;
$spacer-xl: 80px;
