@import './_variables';
@import './_general';

// -----------------------------------------------------------------------------
// Entrance
// -----------------------------------------------------------------------------

#app-entrance {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 100vw;
	min-height: 100vh;
	background-color: $color-purple-light;
	padding: 0 $spacer-m;
	box-sizing: border-box;

	// fade out animation.
	opacity: 1;
	transition: opacity 1s;

	#entrance-form {
		display: block;
		padding: $spacer-l $spacer-m;
		background-color: $color-white;
		width: 100%;
		max-width: 350px;

		img {
			display: block;
			width: 80px;
			margin: 0 auto $spacer-l auto;
		}
	}

	& input,
	& .btn {
		display: block;
		width: 100%;
	}
}

// -----------------------------------------------------------------------------
// Users
// -----------------------------------------------------------------------------

#app-users {
	align-items: center;
	background-color: $color-purple-light;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	min-height: 100vh;
	min-width: 100vw;
	padding: 0 $spacer-m;

	.users-list-container {
		background-color: $color-white;
		display: block;
		max-width: 500px;
		width: 100%;
	}

	#users-list {
		padding: $spacer-l $spacer-m;
	}

	.user-welcome-message {
		border-bottom: 5px solid $color-purple;
		box-sizing: border-box;
		color: $color-purple;
		font-weight: bold;
		padding: $spacer-m;
		text-align: center;
	}
}
